        body {
            background: rgb(255, 255, 255);
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        header h1{
            font-family: 'Courier New', Courier, monospace;
            font-weight: lighter;
            font-size: 50px;
            color: black;
        }